
        
        
        
        .Aws {
            color: brown;
            background-image: url(aws.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px;
        }
        .AwsApp>div {
            background-image: url(aws.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px;
        }
        .Aws>div {
            color: brown;
            background-image: url(aws.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px; 
        }

        .AwsApp {
             /* background-color: orange; */
             background-image: url(aws.jpg);
             background-size: 10px 10px;
             background-repeat: no-repeat;
        }

        .Azure {
            color: blue;
            background-image: url(azure.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px;
            /* border-style:solid;
            border-color:black;
            background-color: lightskyblue; */
        }
        .Azure>div {
            /* color: blue;
            background-image: url(azure.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px;
            border-style:solid; */
            /* border-color:black; */
        }
        .AzureApp {
            background-image: url(azure.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px;
            /* background-color: lightskyblue; use #AzureApp, id=AzureApp for this attribute */
        }

        .AzureApp>div {
            /* background-image: url(azure.jpg);
            background-repeat: no-repeat;
            background-size: 10px 10px; */
        }

       